body
{
    background: url('nature.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
}


.container
{
    background-color: rgba(0,0,0,0.8);
    max-width: 20%;
    margin: auto;
    margin-top: 11rem;
    border-radius: 3rem;
    padding: 2.5em;
    color: #fff;
    height: 30rem;
    
}

input
{
    width: 100%;
    margin: 0.7em 0;
    background-color: transparent;
    color: #fff;
    padding: 0.8em 0.03em;
    font-size: 1.2em;
    font-weight: bold;
    box-sizing: border-box;
    border: none;
    border-bottom: 0.005em #fff solid;
}

.button
{
    width: 80%;
    border-radius: 0.8em;
    padding: 0.7em;
    background-color: rgb(35, 73, 150);
    color: #fff;
    font-size: 1.28em;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    margin: 1.9em 7em 0 0.7em;
    margin-left: 2rem;
}

